body{
    text-align: center;
}
h1{
    font-size: 60px;
    color: rgb(38, 20, 175);
}
#sanaq{
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(229, 29, 29);

}
#btn{
    font-size: 25px;
     border-radius: 10px;
     background-color: rgb(88, 220, 224);
     color: rgb(96, 23, 164);
}